.ui-widget, .ui-widget .ui-widget, .ui-widget-header {
	font-size: 90% !important;
}

.ui-menu {
	background: rgba(255, 255, 255, 1) !important; 
	font :bold;
	font-weight: bold;
	
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-widget-header {
	/**background: -moz-linear-gradient(center top, rgba(255, 255, 255, 1),
		rgba(255, 0, 255, 1)) repeat scroll 0 0 !important;**/
	background:#86c6db;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #000000;
    font-weight: normal;
    /**text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);**/
}


.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield { 
	background-color: white ;

	} 

.ui-panel .ui-panel-footer {
    border-width: 1px 0 0;
    margin: 0.5em 0 0;
    padding: 0.5em 1em;
    text-align: left; 
    background:#86c6db;
}
.ui-panel .ui-panel-titlebar {
    padding: 0.5em 1em 0.3em; 
    background: #86c6db; 
    
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.6em 1em; 
    background: -moz-linear-gradient(top center, rgb(173, 214, 255), rgb(255, 255, 255)); /*-moz-linear-gradient (top bottom, rgb(173, 214, 255),rgb(255, 255, 255) );*/
} 

.bouton{
	background: -moz-linear-gradient(top center, rgb(255,25,25), rgb(255, 255, 255)); 
}


/*.ui-icon-calendar {
 
   /* vertical-align: middle; cursor: pointer;*/
} */

.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center; 
    background : gray ;
    text-decoration: none !important;
}

.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-text-only{
	
	background: #ffffff ; 
}
.iconCalendar{
	background-image: url("#{resource['icon/calendar.png']}") !important;
    background-position:  left!important;   
    background-repeat :no-repeat; 
}
.ui-datatable .ui-datatable-header, .ui-datatable  .ui-datatable-footer
	{
	text-align: left !important;
	padding: 10px 10px !important;
}
ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    padding: 2px;
}
.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    padding: 2px;
}
.ui-paginator {
    margin: 0;
    padding: 2px;
    text-align: center; 
    background-color: #ffffff; 
}

#costumDIV{
	 position:absolute;
     width:1028px;
     height:400px;
     margin:-50px 0 0 -350px;
     top:50%;
     left:50%;
       z-index:15; 
       border: none;
     /*  
      
   
   */
    
}
#table_contenu { 
	height: 100%;
	height: 90%;
	min-height: 90%;
	max-height: 1000px;
	display: table;
}

#col_menu {
	vertical-align: top;
	font: bold;
	/*background-color: ;*/
}

#col_contenu {
	height: 90%;
	min-height: 90%;
	max-height: 1000px;
	vertical-align: top;
	width: 100%;
}

#col_footer {
	text-align: center;
}

#table_header {
	width: 100%;
	border: :solid;
}

#col_header_left {
	width: 2%;
	text-align: center;
	border-right: dotted;
	border-right-color: #A8D1F5;
	padding-right: 15px;
}

#col_header_left a {
	margin-left: 10px;
}

#col_header_center {
	width: 60%;
	text-align: left;
	padding-left: 15px;
}

#col_header_right {
	width: 5%;
	text-align: right;
	border-left: dotted;
	border-left-color: #A8D1F5;
}

#welcome {
	margin-left: 44%;
}

#Pied {
	width: 100%;
	bottom: 7px;
	position: fixed;
	font-size: 12px;
	color: grey;
	margin-left: 44%;
}

#piedhr {
	width: 100%;
	bottom: 20px;
	position: fixed;
	font-size: 12px;
	color: grey;
	background-image: url("private/images/SncfVdSaLogo.gif");
}

.actionButtons {
	height: 20px;
	width: 20px;
	margin: 1px;
}

.noBorder.ui-panelgrid>*>tr, .noBorder.ui-panelgrid>*>tr>td {
	border: none;
	background: none !important;
	margin-bottom: 2px;
}

.dateTimeStyle input {
	width: 150px; 
	
   /* left : 0px ; 
    padding : 0px;*/
	
}

.myPanelGride {
	border-style: solid;
	border-color: #FFFFFF #E0E0E0;
}

.centered {
	text-align: center;
	margin-left: 50%;
}

.gridHeader {
	background-color: white;
}

.calendarColor a {
	background-color: Green !important;
	background-image: none !important;
	color: White !important;
	font-weight: bold !important;
	font-size: 12pt;
}

.ui-datepicker .ui-state-default {
	color: blue;
	background-color: white !important;
}

.ui-datepicker .ui-state-active {
	color: red;
	background-color: Green !important;
}

.ui-datepicker  .ui-state-highlight {
	color: balck;
	background-color: Green !important;
}

.fieldSet {
	margin-bottom: 20px;
	border-style: outset;
	border-color: #0080ff #E0E0E0;
	max-width: auto;
	padding: 16px;
	font: 200;
	font-size: small;
	font-family: inherit;
}

.td_table_css_ajustement div.fc-content table td div.fc-day-number {
	display: none;
}

.td_table_css_ajustement div.fc-content table td div.fc-day-content {
	height: 40px;
}

.event_display {
	text-align: center;
	/*top: 19px;*/
	height: 40px;
	font-size: 1.0em;
}

.cell_all_space {
	height: 40px;
}

.train_circule {
	background-color: rgb(207, 228, 137);
	color: black;
}

.train_not_circule {
	background-color: rgb(229, 135, 156);
	color: black;
}

.train_adapted {
	background-color: orange;
	color: black;
}

@font-face {
	font-family: 'perfo';
	src: url("#{resource['fonts/Perfograma.otf']}"),
		url("Perfograma.eot?#iefix") format("embedded-opentype");
	/* src: url("/pfthemeswitcher/javax.faces.resource/Perfograma.otf}")  ; */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'track';
	src: url("#{resource['fonts/Track.ttf']}");
	/* src: url("/pfthemeswitcher/javax.faces.resource/Perfograma.otf}")  ; */
	font-weight: normal;
	font-style: normal;
}

/
*

 

Webfont


:

 

BloggerSans

 

*
/


@font-face {
	font-family: 'BloggerSans';
	src: url('BloggerSans.eot'); /* IE9 Compat Modes */
	src: url('BloggerSans.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
         url('BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('BloggerSans.ttf') format('truetype'),
		/* Safari, Android, iOS */
         url('BloggerSans.svg#BloggerSans') format('svg');
	/* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

.classDialogUser .ui-dialog-buttonpane {
	text-align: center !important;
}

.classFieldsetUser {
	margin: 0 0 8px;
}

.classFieldsetUser label {
	display: block;
	width: 85px;
}